@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

img {height: 200px;
    width: 200px;
}

body {
    background-color: #a9aaaa;
    margin:10px;
    font-family: "oswald";
    }


main {padding: 16px;
}

footer {
    background-color:rgb(9, 78, 44);
    height: 75px;
    margin: 50px;
    font-family: 'oswald';
    font-stretch: 20px;

}

nav {border-width: 1px;
    color:black;
    padding: 16px;
    background-color: aqua;
    height: 25px;
    font-family: "oswald";
}

nav a{color: rgb(0, 0, 0);
    background-color: aqua;
    font-family: "oswald";

}

main{margin-bottom: 16px;
    font-family: "oswald";
}

th{font-size: medium;
    background-color: #f2f2f2;
}

tr{font-size: medium;
    font-family: "oswald";

}

tr:nth-child(even){
        background-color: #f2f2f2;
}

a, a:active :hover {
    text-decoration: none;
    color: black;

}

.container{display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0px 0px;
}

h1{font-family: 'oswald'

}

h2{font-family: 'oswald'
}

h3{font-family: 'oswald'
}

ol {
    font-family: "oswald";
}
